*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family:optima, sans-serif;
    
}
.logo-iut{
  width: 100vw;
  min-width: 200px;
  max-width: 600px;
}
body{
    background-color:#EEEDED;
    display: grid;

}
footer, .bordure-haut{
    background-color:#57585A ;
    height: 3vh;
    width: 100%;
}


/*-----------------Formulaire de connection-------------*/

.bordure-haut{        /*met en colonne toute les ligne*/
  display: flex;
  flex-direction: column;
  align-items: end;
}
.bordure-haut>div{
  padding-right: 1vw;
}
.bordure-haut form{     /*cache le formulaire*/
  display: none;
  background-color:#EEEDED;
  box-shadow: 0px 1px 2px #57585A;
}
.bordure-haut>div:hover form{ /*formulaire apparait quand la souris passe sur le connection*/
  display: block;
}



.content{
    min-height: 100vh;
}



/*-----------------------nav bar-----------------------*/

#nav {
    display: flex;    /*mise en forme nav*/
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color:#57585A ;
    height: 50px;
    z-index: 3;
}

#nav a {
    font-size: calc(10px + 2vw);
    color:white;
}

#nav a:nth-child(2) {   /*margin pour centrer seulement certain élément*/
    margin: 0 0 0 10vw; 
}

#nav a:nth-child(4) {
    margin: 0 23vw 0 0;
}
nav a:hover{
  text-decoration:underline#bdbdbd ;
}

.sticky {               /*fonction JS*/
    position: fixed;
    top: 0;
    width: 100%;
}




/*----------------titre de la page---------------*/

.rubrique{
    display: flex;
    height: 20vh;
    min-height: 50px;
    max-height: 200px;
    background-color: #E3BB75;
    align-items: center;
    justify-content: center;
    font-size: calc(25px + 4vw);
    color: #494a4b;
}

/*-------------------contenue individuel de chaque page-----------------------*/
.texte{
    display:grid;
    grid-template-rows: 5vh auto auto 10vh auto auto 10vh;
    grid-template-columns:5vw 20vw 10vw 53.3vw 10vw ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rencontrer{
    grid-column: 4;
    grid-row: 3;
    padding: 1vw;
    text-align: justify;
    background-color:rgb(204, 204, 204);
  }



  .accueil{
    grid-column:2 ;
    grid-row-start: 1;
    grid-row-end: 4 ;
    background-color: #DE6077;
    position: relative;
  }
  .accueil p, .accueil h2{
    padding-left: 1vw;
  }
  .accueil::before{
    background-color: #DE6077;    /*permet de faire dépasser accueil sur la rubrique*/
    content: 'Actualités';
    position: absolute;
    bottom: 100%;
    display: block;
    width: 100%;
    height: 7vh;
    color: rgb(231, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: underline;
  }



  .imgRencontrer{
    grid-column: 4;
    grid-row: 2;
    width: 50vw; 
    padding : 1.15vw;
    border: 0.5vw solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .entrerIUT{
    grid-column: 4;
    grid-row: 5;
    width: 50vw; 
    padding : 1.15vw;
    border: 0.5vw solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .entrer{
    grid-column: 4;
    grid-row: 6;
    padding: 1vw;
    text-align: justify;
    background-color:rgb(204, 204, 204);

  }




  @media (max-width : 650px) {/*changement de mise en page selon la taille de la page*/

    .texte{
      grid-template-columns:16vw 66.3vw 10vw;
      font-size: 18px;
    }
    .rencontrer{
      grid-column: 2;
      padding: 1vw;
    }
    .imgRencontrer{
      grid-column: 2;
      width: 63vw;
    }

    .entrer{
      grid-column: 2;
    }
    .entrerIUT{
      grid-column: 2;
      width: 63vw;
    }
    .accueil, .accueil::before{
      display:none;
    }

    #nav a:nth-child(2) {
      margin: 0 0 0 5vw;
    }

    #nav a:nth-child(4) {
      margin: 0 15vw 0 0;
    }
  }